<h1>Create New Comic</h1>

<form method="post">
    <label>NOMBRE</label>
    <input type="text" class="form-control" name="nombre" />

    <label>IMAGEN</label>
    <input type="text" class="form-control" name="imagen" />

    <label>DESCRIPCION</label>
    <input type="text" class="form-control" name="descripcion" />

    <button type="submit">CREAR</button>
</form>